[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=3.0.0
X-AppImage-Name=setup
Name=setup
Exec=usr/bin/setup
Icon=setup
Type=Application
Terminal=false
Categories=Utility;
Comment=
